.global-items {
  display: table;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.global-items-header {
  display: table-header-group;
  background: aliceblue;
  font-weight: bold;
}

.global-item {
  display: table-row;
}

.global-item > div,
.global-items-header > div {
  display: table-cell;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  border-right:1px solid #ddd;
}
